services:
  cache:
    container_name: cache
    image: redis:8
    ports: 
      - "6739:6739"
  web:
    container_name: web
    build:
      context: .
    environment:
      - LOG_LEVEL=DEBUG
      - REDIS_CACHE_URL=redis://cache:6379
    volumes:
      - ${CONFIG_FILE:-./config.toml}:/app/config.toml 
    ports:
      - "8000:8000"
    links:
      - cache
