[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

pytest = "*"
black = "*"
"pytest-aiohttp" = "*"
aioresponses = "*"
responses = "*"


[packages]

aiohttp = "*"
toml = "*"


[requires]
python_version = "3.7"