html, body {
    height: 100%
}

:root {
    --gray-medium: #7b7e88;
    --foreground-dark: #afbdd1;
    --main-background: var(--light);
    --border-color: var(--gray);
}

code {
    padding: 0.2em 0.4em;
}

.header {
    background: var(--white);
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.error-list {
    display: flex;
    justify-content: space-evenly;
    max-height: 7rem;
    overflow-y: auto;
    text-align: left;
}

section.project:not(:first-child) {
    border-top: 1px solid rgba(0, 40, 100, 0.12);
}

.project-cards {
    display: grid;
    grid-gap: 0.5rem 0rem;
    grid-template-columns: 100%;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-footer.check-details {
    color: #303645;
}

.check-tags .badge {
    background: var(--gray);
}

.check-details summary {
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
}

.check-details h4 {
    text-transform: uppercase;
}

.check-details pre {
    background: rgba(48, 54, 69, 0.032);
}

.check-details pre:before,
.check-details pre:after {
    content: '';
    display: block;
    height: 0;
}

.check-details dt,
.check-details dd {
    border-left: 2px solid rgba(0, 40, 100, 0.12);
    padding-left: 0.5rem;
}

.check-details details > p:last-child {
    margin-bottom: 0;
}

.check-details details[open] summary {
    margin-bottom: 1rem;
}

.check-details .js-plotly-plot {
    min-height: 450px;
}

@media screen and (min-width: 48rem) {
    .project-cards {
        grid-gap: 0.5rem 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 64rem) {
    .project-cards {
        grid-gap: 0.5rem 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.text-gray-medium {
    color: var(--gray-medium);
}

.bg-gray-medium {
    background-color: var(--gray-medium);
}

.system-diagram {
    max-height: 280px;
    max-width: 100%;
}

.check-buglist li {
    padding-left: 2em;
    min-height: 1.5em;
    background-image: url("../img/bug.svg");
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.check-buglist .open.hot {
    background-image: url("../img/bug-hot.svg");
}

.check-buglist .open.cold {
    background-image: url("../img/bug-cold.svg");
}

.check-buglist .closed {
    opacity: 0.5;
}

.check-card .card-options a,
.check-card .card-options a:visited {
    color: var(--gray-dark);
}

.slideout-panel {
    display: none;
    background: var(--light);
    border-left: 1px solid var(--gray);
    bottom: 0;
    left: 100%;
    position: fixed;
    transition: margin-left 0.35s ease;
    top: 0;
    width: calc(100% - 50px);
}

.slideout-panel > .slideout-panel-content {
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
}

.slideout-panel > .close-button {
    cursor: pointer;
    display: none;
    font-size: 50px;
    left: -50px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
}

.slideout-panel > .close-button:before {
    content: '×';
}

.slideout-panel.open {
    display: block;
    margin-left: calc(50px - 100%);
    z-index: 1;
}

.slideout-panel.open > .close-button {
    display: block;
    background-color: var(--main-background);
    border-bottom: 1px solid var(--border-color);
}

#app {
    height: 100%;
}

#app > div {
    min-height: 100%;
}
