.header {
    background: #fff;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

section.project:not(:first-child) {
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    margin-top: 1rem;
    padding-top: 1rem;
}

.project-cards {
    display: grid;
    grid-gap: 0.5rem 0rem;
    grid-template-columns: 100%;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-footer.check-details {
    color: #303645;
    font-size: 0.8rem;
}

.check-details summary {
    font-weight: bold;
    text-transform: uppercase;
}

.check-details h4 {
    text-transform: uppercase;
}

.check-details pre {
    background: rgba(48,54,69,.032);
}

.check-details details > p:last-child {
    margin-bottom: 0;
}

.check-details details[open] summary {
    margin-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
    .project-cards {
        grid-gap: 0.5rem 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 64rem) {
    .project-cards {
        grid-gap: 0.5rem 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.text-fine {
    font-size: 0.8rem;
}

.text-gray-medium {
    color: #7b7e88;
}

.system-diagram {
    max-height: 280px;
    max-width: 100%;
}

@keyframes blinking {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    25% {
        transform: scale(0.9, 0.9);
        opacity: 0.35;
    }

    50% {
        transform: scale(1, 1);
        opacity: 1;
    }

    75% {
        transform: scale(0.9, 0.9);
        opacity: 0.35;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.animate-blink {
    animation: blinking 1.5s 1;
}
