@media (prefers-color-scheme: dark) {
    .auto-theme-dark .header {
        background: var(--dark);
        border-color: rgba(123, 126, 136, 0.24);
    }

    .auto-theme-dark .check-tags .badge {
        background: var(--gray-dark);
    }

    .auto-theme-dark .card-footer.check-details {
        color: var(--foreground-dark);
    }

    .auto-theme-dark .check-details dt,
    .auto-theme-dark .check-details dd {
        border-color: rgba(123, 126, 136, 0.24);
    }

    .auto-theme-dark .check-details pre,
    .auto-theme-dark code {
        background: rgba(0, 5, 15, 0.24);
        color: var(--gray);
    }

    .auto-theme-dark code {
        border-color: rgba(123, 126, 136, 0.24);
    }
}
