:root {
  --page-background: #f9f9fa;
  --text-color: #0c0c0d;
  --link-color: #0060df;

  --box-background: #fff;
  --box-border-color: rgba(12, 12, 13, 0.3);

  --success-color: green;
  --failing-color: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #202023;
    --text-color: rgb(249, 249, 250);
    --link-color: #45a1ff;

    --box-background: #2A2A2E;
    --box-border-color: rgba(249,249,250,0.2);

    --success-color: #30e60b;
    --failing-color: #ff0039;
  }
}

body {
  background-color: var(--page-background);
  color: var(--text-color);
}

a[href], a:hover[href], a:visited[href] {
  color: var(--link-color);
}

#svg-diagram {
  width: 100%;
  max-height: 33vh; /* Third of vertical height */
}

#main > div {
  display: grid;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat( auto-fill, minmax( 400px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
}

#main > h1 {
  margin-top: 1.5em;
}

section {
  background-color: var(--box-background);
  border: 1px solid var(--box-border-color);
  padding: 10px;

  display: flex;
  flex-direction: column;
}

summary {
  font-weight: bold;
}

section > .description {
  margin-top: 0;
  flex-grow: 1;
}

section h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

section h1 a {
  font-size: 0.8em;
  text-decoration: none;
}

section p {
  margin-top: 0;
}

section .tags > span {
  margin-bottom: 0;
  font-size: 8px;
  border-radius: 3px;
  opacity: 0.8;
  color: var(--box-background);
  background-color: var(--text-color);
  padding: 2px 5px;
  font-size: 0.8em;
}

section pre {
  padding: 0.5em;
  border: dotted 2px;
  white-space: pre-wrap;

}

section .parameters {
  word-break: break-all;
}

section.loading details {
  display: none;
}

section.success details,
section.failure details {
  display: block;
}

section.success h1 {
  color: var(--success-color);
}

section.failure h1 {
  color: var(--failing-color);
}

section.loading h1 {
  animation: blink-animation 1s steps(5, start) infinite;
}

button.refresh {
  float: right;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
